#register, #login {
    width: 300px;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 50px auto;
  }
  
  form label {
    display: block;
    text-align:center;
    padding-bottom:5px;
  }

  h3 {
    font-size:18px;
    text-align:center;
    padding-bottom:20px;
  }
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
  
  }
  
  .button {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
    cursor:pointer;
  }
  
  .errorMsg {
    max-width:200px;
    padding-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color: #cc0000;
    margin-bottom: 12px;
  }
